<ion-app>
  <ion-header style='background-color:white'>    
      <app-topbar></app-topbar>  
  </ion-header>
  <ion-content>        
      <div no-padding class="container">
          <img src="../../../assets/download.jpg">
          <ion-label>{{firstitem.title}}</ion-label>
      </div>
      <ion-grid no-padding>
          <ion-row no-padding *ngFor="let n of newsdata">
              <ion-col no-padding><img style="object-fit: fill;" src={{n.image}}></ion-col>
              <ion-col style="padding-top: 0px;">{{n.title}}</ion-col>
          </ion-row>
      </ion-grid>     
  </ion-content>
  <ion-footer>
      <ion-toolbar>
          <app-bottombar></app-bottombar>
      </ion-toolbar>
  </ion-footer>  
</ion-app>